button {
    padding: 1em;
    margin: 0.2em;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    background-color: ghostwhite;
    color: rebeccapurple;
    transition: background-color 2s, color 2s;
  }
  
  button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
  }
  
